.catalogPage {
  padding: 40px 20px;
  background-color: #f9f9f9;
  text-align: center;
  flex: 1 1 100%;
}

.catalogPage h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #6A4E23;
  margin-bottom: 50px;
  margin-top: 100px;
}

.auction {
  background-color: white;
  border-radius: 0.5em;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 100%;
  cursor: pointer;
  width: calc(33.33% - 20px);
}

.auction:hover {
  transform: translateY(-5px);
}

.auction img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.auction h6 {
  font-size: min(1.5rem, 5vw);
  font-weight: 500;
  color: #333;
  margin: 0.25em auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.auction h2 {
  font-size: min(1.25rem, 5vw);
  font-weight: 400;
  color: #777;
  margin: 0.25em auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.detailsButton {
  text-decoration: none;
  background-color: #e98f08;
  color: white;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.detailsButton:hover {
  background-color: #d47f00;
}

.noArticles {
  font-size: 1.5rem;
  font-weight: 400;
  color: #777;
}

.highestBid {
  font-size: 1.2rem;
  font-weight: 400;
  color: #777;
  margin: 0.5em auto;
  text-decoration: none;
}

.allAuctionsContainer {
  display: flex;
  justify-content: center;
  gap: 2em;
  flex-wrap: wrap;
  margin-bottom: 3em;
}

.imageWrap {
  height: 200px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.paginationContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 3em;
}

.paginationBtn {
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.paginationBtn:disabled {
  background-color: transparent;
  cursor: default;
}

.pageNumbers {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  min-width: 150px;
}

.pageCircle {
  padding: 10px 15px;
  background-color: transparent;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border: 2px solid transparent;
  box-sizing: border-box;
}

.pageCircle:hover {
  background-color: white;
  border: 2px solid black;
}

.paginationBtn.prev,
.paginationBtn.next {
  font-weight: bold;
}

.pageCircleCurrent {
  padding: 10px 15px;
  background-color: transparent;
  border: 2px solid black;
  border-radius: 50%;
  cursor: pointer;
  font-size: 16px;
}

@media (max-width: 768px) {
  .auction {
    flex: 1 1 50%;
  }

  .catalogPage {
    padding: 0;
  }

  .catalogPage h1 {
    margin-top: 1em;
  }
}