@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Montserrat:wght@400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #0B0B0B;
    font-family: 'Inter', sans-serif;
    padding: 2rem;
}

body>* {
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    color: white;
}

p,
span,
a {
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2rem;

    h1>a {
        text-decoration: none;
        font-size: 40px;
    }

    ul {
        display: flex;
        list-style: none;
        gap: 3em;

        li a {
            text-decoration: none;
            font-size: 20px;
        }
    }
}

section.main {
    display: flex;
    align-items: center;
    min-height: 80vh;
    background-image: url('img/movies/city-under-the-fire-bg.webp');
    background-position: top left;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 1em;

    .info {
        display: flex;
        flex-direction: column;
        max-width: 750px;
        margin-left: 4em;
        gap: 2em;

        h1 {
            font-size: 50px;
        }

        p.all-in-one {
            font-size: 22px;
            color: #CCCCCC;
        }

        .streaming {
            display: flex;
            flex-direction: column;
            gap: 1em;

            .title {

                span {
                    font-size: 18px;
                    color: #E50914;
                    font-weight: bold;
                }

                h2 {
                    text-transform: uppercase;
                    font-size: 32px;
                    margin-top: 0.2em;
                }
            }

            .additional-info {

                .genre {
                    display: flex;
                    gap: 0.5em;

                    span {
                        padding: 0.4em 1em;
                        font-size: 14px;
                        background-color: rgba(255, 255, 255, 0.1);
                        border-radius: 2em;
                    }
                }

                p {
                    color: #CCCCCC;
                    font-size: 18px;
                    margin-top: 1em;
                }
            }

            a {
                width: fit-content;
                background-color: #E50914;
                text-decoration: none;
                border-radius: 0.5em;
                padding: 0.8em 1.6em;
                font-size: 20px;
                margin-top: 2em;
            }
        }
    }

}

section.continue-watching {
    padding-block: 4em;

    p {
        font-size: 30px;
        font-weight: 100;
    }

    .media {
        margin-top: 2em;
        position: relative;
        width: fit-content;

        img {
            display: block;
            width: 300px;
            height: 200px;
            border-radius: 0.5em;
        }

        &:before {
            display: block;
            content: "";
            position: absolute;
            bottom: -0.5em;
            left: 0;
            width: 40%;
            height: 6px;
            background-color: #E50914;
            border-top-left-radius: 1em;
            border-bottom-left-radius: 1em;
        }

        &:after {
            display: block;
            content: "";
            position: absolute;
            bottom: -0.5em;
            right: 0;
            width: 60%;
            height: 6px;
            background-color: #333333;
            border-top-right-radius: 1em;
            border-bottom-right-radius: 1em;
        }
    }
}

section.top-picks {
    padding-bottom: 3em;

    p {
        font-size: 30px;
        font-weight: 100;
    }

    .media {
        display: flex;
        flex-wrap: wrap;
        margin-top: 2em;
        gap: 2em;

        img {
            display: block;
            width: 300px;
            height: 200px;
            border-radius: 0.5em;
        }
    }
}

section.coming-soon {
    padding-bottom: 4em;

    p {
        font-size: 30px;
        font-weight: 100;
    }

    .movie {
        display: flex;
        align-items: center;
        margin-top: 2em;
        background-color: #1A1A1A;
        padding: 1.5em;
        border-radius: 0.5em;
        gap: 2em;

        .media {

            img {
                display: block;
                width: 225px;
                height: 150px;
                border-radius: 0.5em;
            }
        }

        .movie-info {
            display: flex;
            flex-direction: column;

            p {
                font-size: 20px;
                opacity: 0.8;
            }

            a {
                width: fit-content;
                text-decoration: none;
                background-color: #E50914;
                border-radius: 0.3em;
                padding: 0.6em 1.2em;
                margin-top: 1em;
                font-size: 18px;
            }
        }
    }
}

section.browse-by-genre {
    padding-bottom: 2em;
    border-bottom: 2px solid #969696;

    p {
        font-size: 30px;
        font-weight: 100;
    }

    .inner {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        max-width: 1460px;
        margin: 0 auto;
        padding: 2em;
        gap: 4em;

        .icon {

            a {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-decoration: none;
                gap: 1em;

                .img-wrapper {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 80px;
                    height: 80px;
                    background-color: #111111;
                    border-radius: 50%;

                    img {
                        display: block;
                        width: 60px;
                        height: 60px;
                    }
                }

                span {
                    font-size: 20px;
                }
            }


        }
    }

}

section.register-now {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3em;
    gap: 2em;

    p.register {
        font-size: 30px;
        font-weight: 400;
    }

    p:nth-child(2) {
        font-size: 20px;
    }

    a {
        font-size: 20px;
        text-decoration: none;
        background-color: #E50914;
        padding: 1em 2em;
        border-radius: 0.5em;
    }
}

@media(width <=800px) {

    body>* {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header {
        flex-direction: column;
        align-items: center;
    }

    header nav ul {
        margin-top: 1em;
    }

    section.main {
        background-position: center center;
        background-size: cover;

        .info {
            padding-top: 2em;
            margin-left: 1em;
        }
    }

    section.coming-soon .movie {
        flex-direction: column;
    }

    section.top-picks .media {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    section.continue-watching .media img {
        width: 80vw;
        height: auto;
    }

    section.top-picks .media img {
        width: 80vw;
        height: auto;
    }

    section.coming-soon .movie .media img {
        width: 60vw;
        height: auto;
    }
}

@media(width <=500px) {
    header nav ul {
        flex-direction: column;
        align-items: center;
        margin-top: 1em;
        gap: 1em;
    }

    section.main .info {
        padding-bottom: 2em;
    }
}