* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #F4F4F4;
}

.keyboard {
    display: flex;
    flex-direction: column;
    background: #DDDDDD;
    max-width: 800px;
    height: 300px;
    margin: 5em auto;
    padding: 1em;
    border: 1px solid #999999;
    border-radius: 0.5em;
    box-shadow: 0 3px 0px #AAAAAA;
    gap: 0.5em;
}

.first-row,
.second-row,
.third-row,
.fourth-row,
.fifth-row,
.sixth-row {
    display: flex;
    flex-grow: 1;
    gap: 0.5em;
    position: relative;
}

.first-row {
    height: 10px;
}

button {
    flex-basis: 35px;
    flex-grow: 1;
    white-space: nowrap;
    border: 1px solid #CCCCCC;
    background: white;
    border-radius: 0.3em;
    box-shadow: 0 2px 0px #BBBBBB;
}

.first-row button {
    background: #EEEEEE;
}

.second-row button:last-child {
    padding: 0 1em;
    flex-grow: 2;
    background: #EEEEEE;
}

.third-row button:first-child {
    padding: 0 1.5em;
    flex-grow: 2;
    background: #EEEEEE;
}

.third-row button:last-child {
    padding: 0 1.5em;
    flex-grow: 2;
    border-bottom-right-radius: 0;
    background: #EEEEEE;
}

.fourth-row button:first-child {
    padding: 0 0.5em;
    flex-grow: 2;
    background: #EEEEEE;
}

.fourth-row button:nth-child(14) {
    padding: 0 1em;
    flex-grow: 2;
    color: transparent;
    background: #EEEEEE;
}

.fourth-row button:last-child {
    padding: 0 1em;
    flex-grow: 2;
    background: #EEEEEE;
    border-top: none;
    border-bottom: none;
    box-shadow: none;
    border-radius: 0px;
    color: transparent;
    position: absolute;
    top: -0.675em;
    right: 0;
}

.fifth-row button:first-child {
    padding: 0 1em;
    flex-grow: 2;
    background: #EEEEEE;
}

.fifth-row button:last-child {
    padding: 0 3.8em;
    flex-grow: 3;
    background: #EEEEEE;
}

.sixth-row button:nth-child(4) {
    flex-grow: 10;
    color: transparent;
}

.sixth-row button:not(:nth-child(4)) {
    background: #EEEEEE;
}