div > div {
    display: inline-block;
    background-color: #EBEBEB;
    padding: 1em;
    border-radius: 50%;
    margin: auto 0.2em;
}

body > div{
    margin-left: 1em;
}

h2{
    margin: 1em 0 0.5em 0;
}