nav a {
    text-decoration: none;
    color: blue;
}

.sections>section {
    background-color: lightblue;
}

.arrows {
    color: darkred;
    padding: 0 0.25em;
}

nav ul li:first-of-type a {
    font-weight: bold;
}

footer ul img {
    border: solid 1em red;
}