@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #F0F0F0;
    font-family: 'Comic Neue', sans-serif;
}

.box {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 2em auto;
    border-radius: 2em;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);

    .media {
        width: 100%;

        img {
            display: block;
            width: 100%;
            max-height: 720px;
            border-top-left-radius: 2em;
            border-top-right-radius: 2em;
        }
    }

    .text {
        display: flex;
        flex-direction: column;
        background-color: white;
        border-bottom-left-radius: 2em;
        border-bottom-right-radius: 2em;
        padding: 3em 3em 2em 3em;
        gap: 4em;

        h3 {
            font-size: 32px;
            margin-top: 1em;
            opacity: 0.8;
        }

        p {
            font-size: 32px;
            opacity: 0.8;
        }

        p.hashtag {
            font-size: 26px;
            font-style: italic;
            opacity: 0.5;
        }
    }
}