* {
    margin: 0;
    padding: 0;
}

html {
    font: 16px/1.4 Arial, Helvetica, sans-serif;
}

body {
    background: #EEEEEE;
}

.box {
    display: flex;
    align-items: stretch;
    width: 1200px;
    background: white;
    padding: 2em;
    margin: 2em auto;
    border-radius: 0.3em;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    gap: 2em;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 1em;
    flex: 2.5;
}

.image {
    flex: 1;
    background: #EEEEEE;
    border: 1px solid #CCCCCC;
    border-radius: 0.3em;
}

button {
    padding: 0.7em 1.5em;
    border-radius: 0.3em;
    border: none;
}

.buttons {
    display: flex;
    gap: 1em;
}

.lets-chat {
    color: white;
    background: #663399;
}

.learn-more {
    font-weight: bold;
}

h2,
p,
.learn-more {
    color: #7E7E7E;
}